/* basic styles */
:root {
  --lightblue: #f6f9fc;
  --red: #3986d1;
}
a,
a:hover {
  color: inherit;
}
a:hover {
  text-decoration: none;
}
.bg-lightblue {
  background: var(--lightblue);
}
.bg-red {
  background: var(--red);
}
.text-red {
  color: var(--red);
}
.container-fluid-max {
  max-width: 1440px;
}
.cover {
  background: no-repeat center/cover;
}
.p-15 {
  /* padding: 15px;
  */
}
/* header style */
.scroll .page-header {
  background: var(--red);
}
.page-header {
  transition: background 0.5s ease-in-out;
}
.page-header .navbar {
  /* padding: 1rem 0;
  */
}
.page-header .navbar-toggler {
  border-color: var(--white);
}
@media screen and (max-width: 991px) {
  .page-header {
    background: var(--red);
  }
}
/* banner section */
.home {
  /* background-image: url(../images/2.jpg);
  */
  background: 
 /* top, transparent red, faked with gradient */ linear-gradient(
      rgba(0, 0, 0, 0.65),
      rgba(0, 0, 0, 0.65)
    ),
    /* bottom, image */ url(../images/01.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  background-attachment: fixed;
}
.scroll .hero {
  transform: scale(0.98);
}
.hero {
  background-attachment: fixed;
  transition: transform 0.5s ease-in-out;
}
.hero::after {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background: linear-gradient(
    rgba(0, 0, 0, 0.5) 0,
    rgba(0, 0, 0, 0.3) 50%,
    rgba(0, 0, 0, 0.1) 100%
  );
}
.hero .container-fluid {
  z-index: 10;
}
.navbar {
  max-height: 54px;
  padding-left: 1rem;
  padding-right: 1rem;
}
.navbar .navbar-brand img {
  max-height: 50px;
  max-width: 250%;
  overflow: visible;
  padding-top: 0;
  padding-bottom: 0;
}
.content-1,
.content-2,
.content-4 {
  background: #fff;
  padding-bottom: 0.1rem;
}
.content-1 .container,
.content-2 .container,
.content-4 .container {
  margin: 1rem auto;
}
.content-1 .full-width,
.content-2 .full-width,
.content-4 .full-width {
  width: 100%;
}
.img-rotate-y {
  transition: all 1.2s ease-in-out;
  -webkit-transition: all 1.2s ease-in-out;
  -moz-transition: all 1.2s ease-in-out;
  -ms-transition: all 1.2s ease-in-out;
  -o-transition: all 1.2s ease-in-out;
}
.img-rotate-y:hover {
  transform: rotateY(180deg);
  -webkit-transform: rotateY(180deg);
  -moz-transform: rotateY(180deg);
  -ms-transform: rotateY(180deg);
  -o-transform: rotateY(180deg);
}
/*** effect zoom in ***/
.img-zoom-in img {
  transition: all 0.2s ease-in-out;
  -webkit-transition: all 0.2s ease-in-out;
  -moz-transition: all 0.2s ease-in-out;
  -ms-transition: all 0.2s ease-in-out;
  -o-transition: all 0.2s ease-in-out;
}
.img-zoom-in:hover img {
  transform: scale(1.1);
  -webkit-transform: scale(1.1);
  -moz-transform: scale(1.1);
  -ms-transform: scale(1.1);
  -o-transform: scale(1.1);
}
.services-title {
  text-align: center;
  margin-bottom: 1rem;
}

.cover-5 {
  /* background: #f7f7f8;
  min-height: 40rem;
  height: auto;
  border-radius: 0;
  width: 100%;
  color: #333;
  padding-top: 1rem; */
  position: relative;
}
.cover-5 a.navbar-brand {
  color: #000 !important;
}
.cover-5 h1 {
  color: #000;
  font-weight: 200;
}
.cover-5 p.lead {
  margin: 2rem auto;
  color: #696b6e;
  font-family: "Droid Serif", Times, Georgia, serif;
  font-style: italic;
}
.cover-5 .cover-container {
  display: table;
  height: 100%;
  min-height: 34rem;
  margin: 0 auto;
}
.cover-inner {
  display: table-cell;
  vertical-align: middle;
}
.first-section {
  background-color: #eeeeee;
  padding: 4rem;
}
.second-section {
  padding: 2rem;
}
.third-section {
  background-color: #151f20;
  padding: 1rem;
  color: #fff;
}
.fourth-section {
  background-color: #eeeeee;
  padding: 3rem;
}
.aboutBanner {
  background-color: #2d688e;
  padding: 2.5rem;
  color: #fff;
}
.aboutDetails {
  padding: 3rem;
  font-size: 1.5rem;
  text-align: left;
}

/* ---------------------------- customers section --------------------------------- */
.customerImage {
  padding: 1rem;
}
.customers-section-title {
  text-align: center;
  padding: 1rem;
}

/* ---------------------------- end of customers section -------------------------- */

/* ---------------------------- partners section --------------------------------- */
.partners-section {
  background-color: #f2f2f2;
}
.partners-section-title {
  text-align: center;
  padding: 1rem;
}
.partner-logos {
  align-items: center;
  justify-content: center;
  padding: 1rem;
}
.imgdiv {
  width: 100%;
  height: 120px;
  margin: 0 auto;
  /* border: solid 1px #eeeeee;
  border-radius: 5px; */
}
.imgdiv img {
  width: 100%;
  height: 100%;
}

/* ---------------------------- end of partners section -------------------------- */

/* ---------------------------- contact us section -------------------------- */
.form-section {
  background: linear-gradient(rgba(0, 0, 0, 0.45), rgba(0, 0, 0, 0.45)),
    url(../images/kuwaitCity-4.jpg);
  background-attachment: fixed;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  padding: 5rem;
  position: relative;
}
.contactform {
  padding: 0.5rem;
}

.heading-title {
  text-align: center;
  margin: 0 auto;
  font-size: 3em;
  color: #fff;
}

.custom-button {
  width: 100%;
  color: #fff;
  text-transform: uppercase;
  letter-spacing: 2px;
  transition: 0.8s ease;
  background: #4da0b0;
}

.form-box-inner .form-control {
  background: #ffffff8a;
  border: 2px solid #ffffff8a;
  box-shadow: none;
}
.form-box-inner .form-control:focus {
  outline: none;
  box-shadow: none;
}
.map-box iframe {
  width: 100%;
  height: 357px;
}
.map-box {
  border-radius: 5px;
}

.contact {
  text-align: center;
}
.contact-box {
  background: #ffffff8a;
  height: 365px;
  padding: 15px;
}
.contact-box ul li {
  margin-bottom: 0px;
  padding: 8px;
}
.contact i {
  font-size: 25px;
  color: #2d688e;
}
.form-box-inner {
  background: #ffffff8a;
  padding: 15px;
}
/* ---------------------------------- end of contact us ----------------------- */

/* ---------------------------------- footer  ----------------------------------*/
.bg-circle-outline {
  background-color: #0077b5;
  width: 50px;
  height: 50px;
  padding: 8px 2px;
  border: 2px solid #eeeeee;
  border-radius: 50%;
}
.footer {
  /* position: fixed; */
  bottom: 0;
  width: 100%;
}
.footer a {
  color: #78828d;
}
/* ---------------------------------- end of footer ------------------------------*/
