body {
  padding-top: 2rem;
  font-family: "SF Pro Display", "SF Pro Icons", "Helvetica Neue", "Helvetica",
    "Arial", sans-serif;
}
.home-header {
  color: white;
  justify-content: center;
  /* font-family: "Droid Serif", Times, Georgia, serif; */
  display: block;
  text-align: center;
  padding-top: 1rem;
}
.headline {
  font-size: 35px;
  line-height: 1.07143;
  font-weight: 500;
  letter-spacing: -0.005em;
  font-family: "SF Pro Display", "SF Pro Icons", "Helvetica Neue", "Helvetica",
    "Arial", sans-serif;
}
.subhead {
  font-size: 23px;
  line-height: 1.14815;
  font-weight: 300;
  letter-spacing: 0.008em;
  font-family: "SF Pro Display", "SF Pro Icons", "Helvetica Neue", "Helvetica",
    "Arial", sans-serif;
  margin-top: 6px;
}
.head-links {
  font-size: 21px;
  line-height: 1.38105;
  font-weight: 400;
  letter-spacing: 0.011em;
  font-family: "SF Pro Display", "SF Pro Icons", "Helvetica Neue", "Helvetica",
    "Arial", sans-serif;
  color: #6bf;
}
/* basic styles */
:root {
  --lightblue: #f6f9fc;
  --red: #3986d1;
}
a,
a:hover {
  color: inherit;
}
a:hover {
  text-decoration: none;
}
.bg-lightblue {
  background: var(--lightblue);
}
.bg-red {
  background: var(--red);
}
.text-red {
  color: var(--red);
}
.container-fluid-max {
  max-width: 1440px;
}
.cover {
  background: no-repeat center/cover;
}
.p-15 {
  /* padding: 15px;
  */
}
/* header style */
.scroll .page-header {
  background: var(--red);
}
.page-header {
  transition: background 0.5s ease-in-out;
}
.page-header .navbar {
  /* padding: 1rem 0;
  */
}
.page-header .navbar-toggler {
  border-color: var(--white);
}
@media screen and (max-width: 991px) {
  .page-header {
    background: var(--red);
  }
}
/* banner section */
.home {
  background: 
 /* top, transparent red, faked with gradient */ linear-gradient(
    rgba(0, 0, 0, 0.9),
    rgba(0, 0, 0, 0.9)
  );
  /* bottom, image  url(../images/01.jpg);*/
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  background-attachment: fixed;
  align-items: baseline;
  padding-top: 2.5rem;
  justify-content: center;
}
.scroll .hero {
  transform: scale(0.98);
}
.hero {
  background-attachment: fixed;
  transition: transform 0.5s ease-in-out;
}
.hero::after {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background: linear-gradient(
    rgba(0, 0, 0, 0.5) 0,
    rgba(0, 0, 0, 0.3) 50%,
    rgba(0, 0, 0, 0.1) 100%
  );
}
.hero .container-fluid {
  z-index: 10;
}
.navbar {
  max-height: 65px;
  padding-left: 5rem;
  padding-right: 5rem;
}
.navbar .navbar-brand img {
  max-height: 50px;
  max-width: 250%;
  overflow: visible;
  padding-top: 0;
  padding-bottom: 0;
}

.content-1,
.content-2,
.content-4 {
  background: #fff;
  padding-bottom: 0.1rem;
}
.content-1 .container,
.content-2 .container,
.content-4 .container {
  margin: 1rem auto;
}
.content-1 .full-width,
.content-2 .full-width,
.content-4 .full-width {
  width: 100%;
}
.img-rotate-y {
  transition: all 1.2s ease-in-out;
  -webkit-transition: all 1.2s ease-in-out;
  -moz-transition: all 1.2s ease-in-out;
  -ms-transition: all 1.2s ease-in-out;
  -o-transition: all 1.2s ease-in-out;
}
.img-rotate-y:hover {
  transform: rotateY(180deg);
  -webkit-transform: rotateY(180deg);
  -moz-transform: rotateY(180deg);
  -ms-transform: rotateY(180deg);
  -o-transform: rotateY(180deg);
}
/*** effect zoom in ***/
.img-zoom-in img {
  transition: all 0.2s ease-in-out;
  -webkit-transition: all 0.2s ease-in-out;
  -moz-transition: all 0.2s ease-in-out;
  -ms-transition: all 0.2s ease-in-out;
  -o-transition: all 0.2s ease-in-out;
}
.img-zoom-in:hover img {
  transform: scale(1.1);
  -webkit-transform: scale(1.1);
  -moz-transform: scale(1.1);
  -ms-transform: scale(1.1);
  -o-transform: scale(1.1);
}
.services-title {
  text-align: center;
  margin-bottom: 1rem;
}

.cover-5 {
  /* background: #f7f7f8;
  min-height: 40rem;
  height: auto;
  border-radius: 0;
  width: 100%;
  color: #333;
  padding-top: 1rem; */
  position: relative;
}
.cover-5 a.navbar-brand {
  color: #000 !important;
}
.cover-5 h1 {
  color: #000;
  font-weight: 200;
}
.cover-5 p.lead {
  margin: 2rem auto;
  color: #696b6e;
  font-family: "Droid Serif", Times, Georgia, serif;
  font-style: italic;
}
.cover-5 .cover-container {
  display: table;
  height: 100%;
  min-height: 34rem;
  margin: 0 auto;
}
.cover-inner {
  display: table-cell;
  vertical-align: middle;
}
.first-section {
  /* background-color: #eeeeee; */
  /* padding: 1rem; */
  margin: 1.5rem;
}
.box {
  border: 5px solid transparent;
  background-clip: padding-box;
}
.monitoring {
  background-color: #fafafa;
  padding: 2rem;
  /* margin: 0.2rem; */
}

.mob-dev {
  background-color: #e9ebf8;
  padding: 2rem;
}
.web-design {
  background-color: #28536b;
  padding: 2rem;
  color: #fff;

  /* margin: 0.2rem; */
}

.web-dev {
  background-color: #eee4e0;
  padding: 2rem;
}
.second-section {
  margin: 1.5rem;

  /* padding: 2rem; */
}
.third-section {
  background-color: #151f20;
  padding: 1rem;
  color: #fff;
}
.fourth-section {
  background-color: #eeeeee;
  padding: 3rem;
}
.aboutSection {
  background-color: #e4e9ec;
}
.aboutBanner {
  background-color: #2d688e;
  padding: 0.7rem;
  color: #fff;
}
.aboutBanner > h1 {
  padding-left: 6rem;
}
.aboutDetails {
  padding: 3rem;
  font-size: 1.1rem;
  text-align: left;
}

/* ---------------------------- customers section --------------------------------- */
.customers-section {
  background-color: #fafafa;
}
.customerImage {
  display: block;

  width: 115px;
  height: 115px;
  border-radius: 50%;
  margin: 5px;
  border: solid 1px #bdbdbd;
  padding: 0.3rem;
  object-fit: contain;
  object-position: center right;
  background-position: 50% 50%;
  background-repeat: no-repeat;
  /* padding: 1rem; */
  /* border-radius: 80%; */
}
.customers-section-title {
  text-align: center;
  padding: 1rem;
}

/* ---------------------------- end of customers section -------------------------- */

/* ---------------------------- partners section --------------------------------- */
.partners-section {
  background-color: #f2f2f2;
}
.partners-section-title {
  text-align: center;
  padding: 1rem;
}
.partner-logos {
  align-items: center;
  justify-content: center;
  padding: 1rem;
}
.partnerImage {
  display: block;

  width: 130px;
  height: 130px;
  border-radius: 50%;
  margin: 5px;
  border: solid 2px #78828d;
  padding: 0.3rem;
  object-fit: contain;
  object-position: center right;
  background-position: 50% 50%;
  background-repeat: no-repeat;
  /* padding: 1rem; */
  /* border-radius: 80%; */
}
.imgdiv {
  /* width: 100%; */
  /* height: 120px; */
  /* margin: 0 auto;
  border: solid 1px #eeeeee;
  border-radius: 50%; */
  /* padding: 100px; */
}
/* .imgdiv img {
  width: 100%;
  height: 100%;
} */

/* ---------------------------- end of partners section -------------------------- */

/* ---------------------------- contact us section -------------------------- */
.form-section {
  background: linear-gradient(rgba(0, 0, 0, 0.45), rgba(0, 0, 0, 0.45)),
    url(../images/kuwaitCity-4.jpg);
  background-attachment: fixed;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  padding: 5rem;
  position: relative;
}
.contactform {
  padding: 0.5rem;
}

.custom-button {
  width: 100%;
  color: #fff;
  text-transform: uppercase;
  letter-spacing: 2px;
  transition: 0.8s ease;
  background: #4da0b0;
}

.form-box-inner .form-control {
  /* background: #ffffff8a; */
  /* border: 2px solid #ffffff8a; */
  /* box-shadow: none; */
}
.form-box-inner .form-control:focus {
  outline: none;
  box-shadow: none;
}
.map-box iframe {
  width: 100%;
  height: 357px;
}
.map-box {
  border-radius: 5px;
}

.contact {
  text-align: center;
}
.contact-box {
  /* background: #ffffff8a; */
  align-items: center;
  justify-content: center;
  /* height: 365px;
  padding: 15px; */
}
.contact-box ul li {
  margin-bottom: 0px;
  padding: 8px;
}
.contact i {
  font-size: 25px;
  color: #2d688e;
}
.form-box-inner {
  background: #ffffff8a;
  padding: 15px;
}
/* ---------------------------------- end of contact us ----------------------- */

/* ---------------------------------- footer  ----------------------------------*/
.bg-circle-outline {
  background-color: #0077b5;
  width: 50px;
  height: 50px;
  padding: 8px 2px;
  border: 2px solid #eeeeee;
  border-radius: 50%;
}
.heading-title {
  text-align: center;
  margin: 0 auto;
  font-size: 1.8em;
  color: #000;
}

.footer {
  /* position: fixed; */
  background-color: #f5f5f5;
  bottom: 0;
  width: 100%;
}
.footer a {
  color: #78828d;
}
.footer-copy {
  background-color: #f5f5f5;
  padding-top: 0;
  padding-bottom: 0.5rem;
  justify-content: center;
  align-items: center;
}
.footer-head {
  /* background-color: #fafafa; */
  padding-top: 1rem;
  justify-content: center;
  align-items: center;
}
/* ---------------------------------- end of footer ------------------------------*/

/* Slider */
.slick-slide {
  margin: 0px 20px;
}

.slick-slide img {
  width: 100%;
}

.slick-slider {
  position: relative;
  display: block;
  box-sizing: border-box;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  -webkit-touch-callout: none;
  -khtml-user-select: none;
  -ms-touch-action: pan-y;
  touch-action: pan-y;
  -webkit-tap-highlight-color: transparent;
}

.slick-list {
  position: relative;
  display: block;
  overflow: hidden;
  margin: 0;
  padding: 0;
}
.slick-list:focus {
  outline: none;
}
.slick-list.dragging {
  cursor: pointer;
  cursor: hand;
}

.slick-slider .slick-track,
.slick-slider .slick-list {
  -webkit-transform: translate3d(0, 0, 0);
  -moz-transform: translate3d(0, 0, 0);
  -ms-transform: translate3d(0, 0, 0);
  -o-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0);
}

.slick-track {
  position: relative;
  top: 0;
  left: 0;
  display: block;
}
.slick-track:before,
.slick-track:after {
  display: table;
  content: "";
}
.slick-track:after {
  clear: both;
}
.slick-loading .slick-track {
  visibility: hidden;
}

.slick-slide {
  display: none;
  float: left;
  height: 100%;
  min-height: 1px;
}
[dir="rtl"] .slick-slide {
  float: right;
}
.slick-slide img {
  display: block;
}
.slick-slide.slick-loading img {
  display: none;
}
.slick-slide.dragging img {
  pointer-events: none;
}
.slick-initialized .slick-slide {
  display: block;
}
.slick-loading .slick-slide {
  visibility: hidden;
}
.slick-vertical .slick-slide {
  display: block;
  height: auto;
  border: 1px solid transparent;
}
.slick-arrow.slick-hidden {
  display: none;
}
