/* basic styles */
:root {
  --lightblue: #f6f9fc;
  --red: #3986d1;
}
a,
a:hover {
  color: inherit;
}
a:hover {
  text-decoration: none;
}
.bg-lightblue {
  background: var(--lightblue);
}
.bg-red {
  background: var(--red);
}
.text-red {
  color: var(--red);
}
.container-fluid-max {
  max-width: 1440px;
}
.cover {
  background: no-repeat center/cover;
}
.p-15 {
  /* padding: 15px;
  */
}
/* header style */
.scroll .page-header {
  background: var(--red);
}
.page-header {
  transition: background 0.5s ease-in-out;
}
.page-header .navbar {
  /* padding: 1rem 0;
  */
}
.page-header .navbar-toggler {
  border-color: var(--white);
}
@media screen and (max-width: 991px) {
  .page-header {
    background: var(--red);
  }
}
/* banner section */
.home {
  /* background-image: url(../images/2.jpg);
  */
  background: 
 /* top, transparent red, faked with gradient */ linear-gradient(
      rgba(0, 0, 0, 0.45),
      rgba(0, 0, 0, 0.45)
    ),
    /* bottom, image */ url(../images/2.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  background-attachment: fixed;
}
.scroll .hero {
  transform: scale(0.98);
}
.hero {
  background-attachment: fixed;
  transition: transform 0.5s ease-in-out;
}
.hero::after {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background: linear-gradient(
    rgba(0, 0, 0, 0.5) 0,
    rgba(0, 0, 0, 0.3) 50%,
    rgba(0, 0, 0, 0.1) 100%
  );
}
.hero .container-fluid {
  z-index: 10;
}
.navbar {
  max-height: 54px;
  padding-left: 1rem;
  padding-right: 1rem;
}
.navbar .navbar-brand img {
  max-height: 50px;
  max-width: 250%;
  overflow: visible;
  padding-top: 0;
  padding-bottom: 0;
}
.content-1,
.content-2,
.content-4 {
  background: #fff;
  padding-bottom: 0.1rem;
}
.content-1 .container,
.content-2 .container,
.content-4 .container {
  margin: 1rem auto;
}
.content-1 .full-width,
.content-2 .full-width,
.content-4 .full-width {
  width: 100%;
}
.img-rotate-y {
  transition: all 1.2s ease-in-out;
  -webkit-transition: all 1.2s ease-in-out;
  -moz-transition: all 1.2s ease-in-out;
  -ms-transition: all 1.2s ease-in-out;
  -o-transition: all 1.2s ease-in-out;
}
.img-rotate-y:hover {
  transform: rotateY(180deg);
  -webkit-transform: rotateY(180deg);
  -moz-transform: rotateY(180deg);
  -ms-transform: rotateY(180deg);
  -o-transform: rotateY(180deg);
}
/*** effect zoom in ***/
.img-zoom-in img {
  transition: all 0.2s ease-in-out;
  -webkit-transition: all 0.2s ease-in-out;
  -moz-transition: all 0.2s ease-in-out;
  -ms-transition: all 0.2s ease-in-out;
  -o-transition: all 0.2s ease-in-out;
}
.img-zoom-in:hover img {
  transform: scale(1.1);
  -webkit-transform: scale(1.1);
  -moz-transform: scale(1.1);
  -ms-transform: scale(1.1);
  -o-transform: scale(1.1);
}
.first-section {
  background-color: #eeeeee;
  padding: 4rem;
}
.second-section {
  padding: 2rem;
}
.third-section {
  background-color: #151f20;
  padding: 3rem;
  color: #fff;
}
.fourth-section {
  background-color: #eeeeee;
  padding: 3rem;
}
.aboutBanner {
  background-color: #2d688e;
  padding: 2.5rem;
  color: #fff;
}
.aboutDetails {
  padding: 3rem;
  font-size: 1.5rem;
  text-align: left;
}
.customerImage {
  padding: 1rem;
}
.imgdiv {
  height: 100px;
  object-fit: cover;
  /* border: solid 1px #151f20;
  border-radius: 5px;
  */
  margin: 0.3em;
  flex-direction: row;
  flex-wrap: wrap;
}
.partners {
  background-color: #eeeeee;
}
/* contact us section */
.form-section {
  background: 
 /* top, transparent red, faked with gradient */ linear-gradient(
      rgba(0, 0, 0, 0.45),
      rgba(0, 0, 0, 0.45)
    ),
    /* bottom, image */ url(../images/kuwaitCity-4.jpg);
  background-attachment: fixed;
  background-size: cover;
  background-position: 100% 100%;
  background-repeat: no-repeat;
  padding: 0px 0;
  position: relative;
  height: 100vh;
}
.overlay {
  background: #00000026;
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
}
.custom-button {
  width: 100%;
  color: #fff;
  text-transform: uppercase;
  letter-spacing: 2px;
  transition: 0.8s ease;
  background: #4da0b0;
  /* background: -webkit-linear-gradient(to right, #d39d38, #4da0b0);
  */
  /* background: linear-gradient(to right, #ff5722, #3f51b5);
  */
}
/* .custom-button:hover, .custom-button:focus {
  transition: 0.8s ease;
  letter-spacing: 3px;
  background: -webkit-linear-gradient(to right, #d39d38, #4da0b0);
  background: linear-gradient(to right, #ff5722, #3f51b5);
}
*/
.form-box-inner .form-control {
  background: #ffffff8a;
  border: 2px solid #000000;
  box-shadow: none;
}
.form-box-inner .form-control:focus {
  outline: none;
  box-shadow: none;
}
.map-box iframe {
  width: 100%;
  height: 357px;
}
.map-box {
  padding: 5px;
  border-radius: 5px;
}
.heading-title {
  /* text-shadow: 2px 3px 0 #101010, 1px 4px 0 rgba(0, 0, 0, 0.15);
  */
  text-align: center;
  margin: 0 auto;
  padding: 60px;
  font-size: 42px;
  color: #fff;
}
.contact {
  text-align: center;
  /* color: #fff;
  */
}
.contact-box {
  background: #ffffff8a;
  height: 365px;
  padding: 15px;
}
.contact-box ul li {
  margin-bottom: 0px;
  padding: 8px;
}
.contact i {
  font-size: 25px;
  color: #2d688e;
}
.form-box-inner {
  background: #ffffff8a;
  padding: 15px;
}
/* end of contact us */
/* footer */
.header-font {
  font-family: "Josefin Slab", "Helvetica Neue", Helvetica, Arial, sans-serif;
  color: #fd1506;
}
.fa-facebook {
  color: #3b5998;
}
.fa-linkedin {
  color: #0077b5;
}
.fa-twitter {
  color: #4099ff;
}
.fa-google {
  color: #d34836;
}
.bg-primary {
  background-color: #000 !important;
}
.bg-circle {
  display: inline-block;
  width: 60px;
  height: 60px;
  padding: 14px 4px;
  color: #ececec;
  text-align: center;
  border-radius: 50%;
}
.bg-circle-outline {
  width: 50px;
  height: 50px;
  color: smoke;
  padding: 8px 2px;
  border: 2px solid;
  border-color: smoke;
  border-radius: 50%;
}
.bg-circle a,
a:hover,
.media a:focus {
  text-decoration: none !important;
  outline: none;
  color: #ececec;
}
.bg-circle-outline a,
a:hover,
.media a:focus {
  text-decoration: none !important;
  outline: none;
  color: #ececec;
}
.footer {
  background: #edeff1;
  height: auto;
  padding-bottom: 30px;
  position: relative;
  width: 100%;
  border-bottom: 1px solid #cccccc;
  border-top: 1px solid #dddddd;
}
.footer p {
  margin: 0;
}
.footer img {
  max-width: 100%;
}
.footer h3 {
  border-bottom: 1px solid #bac1c8;
  color: #54697e;
  font-size: 18px;
  font-weight: 600;
  line-height: 27px;
  padding: 40px 0 10px;
  text-transform: uppercase;
}
.footer ul {
  font-size: 13px;
  list-style-type: none;
  margin-left: 0;
  padding-left: 0;
  margin-top: 15px;
  color: #7f8c8d;
}
.footer ul li a {
  padding: 0 0 5px 0;
  display: block;
}
.footer a {
  color: #78828d;
}
/* end of footer */
